---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import PostListItem from "../../components/PostListItem.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="max-w-screen-lg mx-auto mt-12 font-sans">
    <Header />
    <main>
      <h1>My Blog</h1>
      <p class="text-2xl mb-8">
        Here you'll find my collected writings on topics from web development to
        productivity.
      </p>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="mb-8">
                <PostListItem post={post} />
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
