---
import type { Workout } from '../lib/workouts';
import {
  addDays,
  isBefore,
  getDaysInMonth,
  startOfMonth,
  subDays,
  addMonths,
  isSameDay,
} from 'date-fns';
import { formatTime } from '../lib/time';
import CalendarDay from './CalendarDay.astro';

const TOTAL_CALENDAR_DATES = 35;
const DAYS_OF_WEEK = [
  'Sunday',
  'Monday',
  'Tuesday',
  'Wednesday',
  'Thursday',
  'Friday',
  'Saturday',
];

const { workouts } = Astro.props;

const currentMonthStartDate = startOfMonth(new Date());

type CalendarDate = {
  date: Date;
  isCurrentMonth: boolean;
  workout: Workout;
};

const calendarDates: Array<CalendarDate> = [];
const previousMonthFillerDays = currentMonthStartDate.getDay();
if (previousMonthFillerDays > 0) {
  for (
    let date = subDays(
      currentMonthStartDate,
      previousMonthFillerDays
    );
    isBefore(date, currentMonthStartDate);
    date = addDays(date, 1)
  ) {
    calendarDates.push({
      date,
      isCurrentMonth: false,
      workout: workouts.find((workout) =>
        isSameDay(new Date(workout.startTime), date)
      ),
    });
  }
}

for (
  let date = currentMonthStartDate;
  date.getDate() < getDaysInMonth(currentMonthStartDate);
  date = addDays(date, 1)
) {
  calendarDates.push({
    date,
    isCurrentMonth: true,
    workout: workouts.find((workout) =>
      isSameDay(new Date(workout.startTime), date)
    ),
  });
}

const nextMonthFillerDays =
  TOTAL_CALENDAR_DATES - calendarDates.length;
if (nextMonthFillerDays > 0) {
  for (
    let date = addMonths(currentMonthStartDate, 1);
    calendarDates.length < TOTAL_CALENDAR_DATES;
    date = addDays(date, 1)
  ) {
    calendarDates.push({
      date,
      isCurrentMonth: false,
      workout: workouts.find((workout) =>
        isSameDay(new Date(workout.startTime), date)
      ),
    });
  }
}
---

<div class="grid grid-cols-7 auto-rows-fr">
  {
    calendarDates.map((calendarDate, i) => (
      <CalendarDay
        date={calendarDate.date}
        isCurrentMonth={calendarDate.isCurrentMonth}
        showDay={i < DAYS_OF_WEEK.length}
      >
        {calendarDate.workout
          ? `${calendarDate.workout.distanceMi.toPrecision(
              3
            )}mi in ${formatTime(calendarDate.workout.duration)}`
          : null}
      </CalendarDay>
    ))
  }
</div>
