---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href } = Astro.props;

const { pathname } = Astro.url;
const isActive =
  href === pathname || href === pathname.replace(/\/$/, '');

const className = isActive ? 'active:font-bold active:underline' : '';
---

<a href={href} class={className}>
  <slot />
</a>
