---
import HeaderLink from "./HeaderLink.astro";
---

<header class="mb-14">
  <nav>
    <ol class="text-xl flex justify-end">
      <li class="ml-8">
        <HeaderLink href="/">Home</HeaderLink>
      </li>
      <li class="ml-8">
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li class="ml-8">
        <HeaderLink href="/resume">Resume</HeaderLink>
      </li>
    </ol>
  </nav>
</header>
