---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="mb-14">
  <nav>
    <ol class="text-xl flex justify-end">
      <li class="ml-8">
        <HeaderLink href="/">Home</HeaderLink>
      </li>
      <li class="ml-8">
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
    </ol>
  </nav>
</header>
